<link rel='import' href='../../../../bower_components/iron-icon/iron-icon.html'>
<link rel='import' href='../../../../bower_components/paper-button/paper-button.html'>

<dom-module id='go-movie'>
    <style>
        .movie-card {
            margin: 20px 0 0 20px;
            box-shadow: 2px 2px 5px 1px grey;
            @apply --flex-col;
            height: 550px;
            width: 300px;
        }
        .title-content {
            text-indent: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            width: 280px;
        }
        .title-container {
            height: 10%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            font-size: 20px;
            color: white;
            background-color: var(--main-color);
        }
        .img-container {
            height: 50%;
        }
        .img-container img {
            width: 300px;
            height: 250px;
        }
        .details-container {
            height: 44%;
            padding: 3%;
        }
        .box{
            display: flex;
            flex-direction: row;
            padding: 10px;
        }
        .head-holder {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
        }
        .head-holder-overview {
            display: flex;
            justify-content: center;
            width: 15%;
        }
        .detail-holder {
            display: flex;
            align-items: center;
            text-overflow: ellipsis;
        }
        .detail-holder-overview {
            width: 75%;
            height: 35px;
            overflow: auto;
        }
        .cart-holder {
            height: 6%;
            padding: 10px;
            display: flex;
            justify-content: center;
        }
        .cart-holder paper-button {
            background-color: var(--main-color);
            border: none;
        }
        .excess-detail {
            color: var(--main-color);
            font-style: italic;
            text-align: center;
        }
    </style>
    <template>
        <div class="movie-card">
            <div class="title-container">
                <div class="title-content">{{movieDetail.title}}</div>
            </div>
            <div class="img-container">
                <img src$="http://image.tmdb.org/t/p/w342{{movieDetail.poster_path}}">
            </div>
            <div class="details-container">
                <div class="box">
                    <div class="head-holder"><iron-icon src="../../images/date.png"></iron-icon></div>
                    <div class="detail-holder">{{movieDetail.release_date}}</div>
                </div>
                <div class="box">
                    <div class="head-holder"><iron-icon src="../../images/rating.png"></iron-icon></div>
                    <div class="detail-holder">{{movieDetail.vote_average}}</div>
                </div>
                <div class="box">
                    <div class="head-holder-overview"><iron-icon src="../../images/overview.png"></iron-icon></div>
                    <div class="detail-holder-overview">{{movieDetail.overview}}</div>
                </div>
                <template is="dom-if" if="{{dvd}}">
                    <div class="box">
                        <div class="head-holder"><iron-icon src="../../images/stock.png"></iron-icon></div>
                        <div class="detail-holder">{{movieDetail.stock}}</div>
                    </div>
                </template>
                <template is="dom-if" if="{{online}}">
                    <div class="box">
                        <div class="head-holder"><iron-icon src="../../images/video-file-format.png"></iron-icon></div>
                        <select class="detail-holder" value="{{movieDetail.format::input}}">
                            <option value="avi" selected>AVI</option>
                            <option value="mp4">MP4</option>
                        </select>
                    </div>
                </template>
                <template is="dom-if" if="{{_isCartDVD(cart, movieDetail.category)}}">
                    <div class="excess-detail">(The Download Link has been sent to your mail id)</div>
                </template>
            </div>
            <div class="cart-holder">
                <template is="dom-if" if="{{cart}}">
                    <paper-button on-click="_removeFromCart">Remove</paper-button>
                </template>
                <template is="dom-if" if="{{dvd}}">
                    <paper-button on-click="_addToCart">Add to Cart</paper-button>
                </template>
                <template is="dom-if" if="{{_isDownloadAvailable(online, movieDetail.format)}}">
                    <paper-button on-click="_downloadMovie">Download</paper-button>
                </template>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'go-movie',
            properties: {
                movieDetail: {
                    type: Object,
                    notify: true
                },
                disabled: {
                    type: Boolean,
                    notify: true
                },
                cart: {
                    type: Boolean,
                    value: false
                },
                online: {
                    type: Boolean,
                    value: false
                },
                dvd: {
                    type: Boolean,
                    value: false
                },
                movieIndex: {
                    type: Number
                }
            },
            _addToCart: function() {
                if (this.movieDetail.stock >= 1) {
                    this.set('movieDetail.stock', this.movieDetail.stock - 1);
                    this.fire('add-to-cart', {movie: this.movieDetail});
                } 
                if (this.movieDetail.stock === 0) { 
                    this.classList.add('disable');
                }
            },
            _removeFromCart: function() {
                if (this.movieDetail.category === 'dvd') {
                    this.set('movieDetail.stock', this.movieDetail.stock + 1);
                    if (this.movieDetail.stock > 0) {
                        this.classList.remove('disable');
                    }
                    this.fire('remove-from-cart', {movieDetail: this.movieDetail, index: this.movieIndex});
                } else if (this.movieDetail.category === 'online') {
                    this.fire('remove-from-cart', {movieDetail: this.movieDetail, index: this.movieIndex});
                }
               
            },
            _downloadMovie: function() {
                this.fire('add-to-cart', {movie: this.movieDetail});
            },
            _isCartDVD: function(cart, type) {
                return cart && (type === 'online') ? true: false;
            },
            _isDownloadAvailable: function(cart, format) {
                return cart && format ? true : false;
            }
        });
    </script>
</dom-module>