<link rel='import' href='../reusable-components/go-movie/go-movie.html'>

<dom-module id='go-cart'>
    <style>
        .movie-holder {
            @apply --flex-row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 46px;
        }
    </style>
    <template>
        <div class="movie-holder">
            <template is="dom-if" if="{{isEmpty}}">
                <div>Empty cart!!!</div>
                <div><img src="../images/cart.png"></div>
            </template>
            <template  is='dom-repeat' items='{{cartDetails}}' as="movieDetail">
                <go-movie movie-detail="{{movieDetail}}" cart movie-index=[[index]]></go-movie>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'go-cart',
            properties: {
                cartDetails: {
                    type: Array,
                    value: [],
                    notify: true
                },
                isEmpty: {
                    type: Boolean,
                    notify: true,
                }
            },
            observers: [
                '_cartDetChanged(cartDetails.splices)'
            ],
            ready: function() {
                var app = this;
                this.addEventListener('remove-from-cart', function(event) {
                    this.splice('cartDetails', event.detail.index, 1);
               });
            },
            _cartDetChanged: function(event) {
                if (this.cartDetails.length === 0) {
                    this.set('isEmpty', true);
                } else {
                    this.set('isEmpty', false);
                }
            }
        });
    </script>
</dom-module>