<link rel='import' href='../reusable-components/go-movie/go-movie.html'>

<dom-module id='go-dvd'>
    <style>
        .movie-holder {
            @apply --flex-row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .disable {
            pointer-events: none;
            opacity: 0.5;
        }
    </style>
    <template>
        <div class="movie-holder">
            <template  is='dom-repeat' items='{{movieDetails.results}}' as="movieDetail" filter="{{_filterMovies(language, rating)}}">
                <go-movie movie-detail="{{movieDetail}}" dvd></go-movie>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'go-dvd',
            properties: {
                movieDetails: Object,
                language: {
                    type: String,
                    notify: true,
                }
            },
            observers: [
                '_movieDetailsChanged(movieDetails.results.*)'
            ],
            _filterMovies: function(language, rating) {
                if(!language && !rating) {
                    return null;
                } else {
                    return function(movie) {
                        return (movie.original_language === language) && (parseInt(movie.vote_average) === rating)? true: false;
                    };
                }
            },
            _movieDetailsChanged: function(changeEvent) {
                var path = changeEvent.path.split('.');
                if(path[path.length-1] === 'stock') {
                    var index;
                    path.filter(eachPath => {
                        if (eachPath.includes('#')) {
                            index = eachPath.replace('#', '');
                            index = parseInt(index);
                        }
                    });
                    if (this.querySelectorAll('go-movie')[index].classList.contains('disable')) {
                        this.querySelectorAll('go-movie')[index].classList.remove('disable')
                    }
                }
            }
        });
    </script>
</dom-module>