<link rel='import' href='../reusable-components/go-movie/go-movie.html'>

<dom-module id='go-online'>
    <style>
        .movie-holder {
            @apply --flex-row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    </style>
    <template>
        <div class="movie-holder">
            <template  is='dom-repeat' items='{{movieDetails.results}}' as="movieDetail" filter="{{_filterMovies(language, rating)}}">
                <go-movie movie-detail="{{movieDetail}}" online></go-movie>
            </template>
        </div>
    </template>
    <script>
        Polymer({
            is: 'go-online',
            properties: {
                movieDetails: Object,
                rating: {
                    type: Number,
                    notify: true
                }
            },
            _filterMovies: function(language, rating) {
                if(!language && !rating) {
                    return null;
                } else {
                    return function(movie) {
                        return (movie.original_language === language) && (parseInt(movie.vote_average) === rating)? true: false;
                    };
                }
            }
        });
    </script>
</dom-module>