<link rel="import" href="../../bower_components/polymer/polymer.html">

<!-- Dependencies -->
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>
<link rel='import' href='../../bower_components/iron-selector/iron-selector.html'>
<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../bower_components/iron-ajax/iron-ajax.html'>


<!-- Custom-Elements -->
<link rel='import' href='./components/go-dvd.html'>
<link rel='import' href='./components/go-online.html'>
<link rel='import' href='./components/go-cart.html'>
<link rel='import' href='./reusable-components/filter-movies/filter-movies.html'>

<!-- Shared Styles -->
<link rel='import' type="css" href='../go-app/shared-styles/shared-styles.html'>

<dom-module id="go-app">
  <style include="shared-styles">
    :host {
      display: block;
    }

    .total-container {
        @apply --flex-col;
    }
    .header-content {
        height: 46px;
    }
    .body-content {
        height: 100%;
    }
    .menu-bar {
        @apply --flex-row;
        align-items: center;
        height: 100%;
        background-color: var(--main-color);
    }
    .menu-content {
        @apply --flex-row;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100px;
        text-decoration: none;
        color: white;
        background-color: var(--main-color);
    }
    .menu-content.left {
        left: 0;
    }
    .menu-content.right {
        margin-left: 84%;
    }
  </style>
  <template>
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}" pattern="/:view" data="{{routeData}}" subroute="{{subroute}}">
    </app-route>
    <iron-ajax auto url="https://api.themoviedb.org/3/discover/movie?api_key=d7042595543912c64f69903b2b02b770&&with_original_language={{language}}" handle-as="json" on-response="_onResponse"></iron-ajax>
    <div class="total-container">
        <div class="header-content">
            <iron-selector selected="{{routeData.view}}" attr-for-selected="gopage" class="menu-bar">
                <a class="menu-content left" href="#/go-dvd" gopage="go-dvd">DVD</a>
                <a class="menu-content left" href="#/go-online" gopage="go-online">Online</a>
                <a class="menu-content right" href="#/go-cart" gopage="go-cart">Cart</a>
            </iron-selector>
        </div>
        <div class="body-content">
            <iron-pages selected="{{routeData.view}}" attr-for-selected="name">
                <section name="go-dvd">
                    <filter-movies lang="{{language}}" rate="{{rating}}"></filter-movies>
                    <go-dvd movie-details="{{movieDetails}}" language="{{language}}" rating="{{rating}}"></go-dvd>
                </section>
                <section name="go-online">
                    <filter-movies lang="{{language}}" rate="{{rating}}"></filter-movies>
                    <go-online movie-details="{{movieDetails}}" language="{{language}}" rating="{{rating}}"></go-online>
                </section>
                <section name="go-cart">
                    <go-cart cart-details="{{cartDetails}}"></go-cart>
                </section>
            </iron-pages>
        </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'go-app',
      properties: {
          movieDetails: {
              type: Object,
              notify: true
          },
          cartDetails: {
              type: Array,
              notify: true
          },
          language: {
              type: String,
              notify: true
          },
          rating: {
              type: Number,
              notify: true,
          }
      },
      attached: function() {
        this.set('route.path', 'go-dvd/go-dvd')
        var app =this;
        this.querySelector('go-dvd').addEventListener('add-to-cart', function(event) {
            event.detail.movie.category = 'dvd';
            console.log('cart : ', app.cartDetails);
            app.push('cartDetails',event.detail.movie);
            console.log('cart : ', app.cartDetails);
            app.notifyPath('cartDetails.*');
        });
        this.querySelector('go-online').addEventListener('add-to-cart', function(event){
            event.detail.movie.category = 'online';
            app.push('cartDetails',event.detail.movie);
        });
        this.querySelector('go-cart').addEventListener('remove-from-cart', function(event) {
            var index = app.movieDetails.results.indexOf(event.detail.movieDetail);
            app.set('movieDetails.results.#'+index+'.stock', event.detail.movieDetail.stock);
        });
      },
      _onResponse: function(response) {
          var data = response.detail.__data__.response;
          data.results.filter(movie => {
              movie.stock = 5;
          });
          this.set('movieDetails', data);
      }
    });

    
  </script>
</dom-module>
