<link rel='import' href='../../../../bower_components/paper-input/paper-input.html'>
<link rel='import' href='../../../../bower_components/paper-slider/paper-slider.html'>
<dom-module id='filter-movies'>
    <style>
        .lang-filter {
            width: 200px;
            --paper-input-container-focus-color: #319df3;
            --paper-input-container-input-color: #319df3;
        }
        .filter-ctrls {
            display: flex;
            flex-direction: row;
        }
        .slider {
            padding: 3px;
            display: flex;
            flex-direction: row;
            --paper-slider-active-color: #319df3;
            --paper-slider-knob-color: #319df3;
            --paper-slider-pin-color: #319df3;
            cursor: pointer;
        }
        .slider-ctrl {
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .slider-cnt-2 {
            display: flex;
            align-items: center;    
            color: #319df3;
        }
    </style>
    <template>
        <div class="filter-ctrls">
            <paper-input placeholder="(ex). Ta (for Tamil), en for (English)" class="lang-filter" always-float-label label="Language" value="{{lang::input}}">
                
            </paper-input>
            <div class="slider-ctrl">
                <div>Rating</div>
                <div class="slider">
                    <div class="slider-cnt-2">0</div>
                    <paper-slider class="slider" max="10" value="{{rate::change}}" pin="true">
                    </paper-slider>
                    <div class="slider-cnt-2">10</div>
                </div>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is: 'filter-movies',
            properties: {
                lang: {
                    type: String,
                    notify: true,
                    value: 'en'
                },
                rate: {
                    type: Number,
                    notify: true,
                    value: 5
                }
            }
        });
    </script>
</dom-module>