<dom-module id='shared-styles'>
    <style>
        :host {
            --main-color:#319df3;
            --flex-row: {
                display: flex;
                flex-direction: row;
            };
            --flex-col: {
                display: flex;
                flex-direction: column;
            };
        }  
    </style>
    <template>
    </template>
    <script>
        Polymer({
            is: 'shared-styles'
        })
    </script>
</dom-module>